
 
.main_image{
  width: 325px; 
  height: 183px; 
  object-fit:cover;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 5px;
 }
.video_list{
  height: 300px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
}
.video_list:hover{
  background-color:#f3f3f3 ;
  border-radius: 10px;
}

.video_list:hover .main_image{
  border-radius: 0;
}

@media (max-width: 743px) {
  .video_list{
    width: 90%;
  }
  .main_image{
    width: 100%;
  }
}
