.suggestion{
    display: flex;
    width: 652px;
    height: 220px;
    cursor: pointer;
 }
 .suggestion:hover{
    background-color: rgb(243, 242, 242);
 }
  .image_sugg{
     width: 250px;
     height: 69%;
     border-radius: 10px;
     margin-left: 10px;
     margin-top: 25px;
     cursor: pointer;
 }
 .description-text {
     overflow: hidden;
     text-overflow: ellipsis;
   }
   @media (max-width:666px) {
    .suggestion{
        width: 500px;
        height: 220px;
     }
   }

   @media(max-width:550px){
    .image_sugg{
        height: 75%;
        width: 158px;
    }
    .suggestion{
        width: 365px;
    }
   }