.watchlater-body{
    display: flex;
    height: 100%;
    margin-top: 30px;
    width: 100%;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.watch_later_img{
    width: 320px;
    height: 180px;
    border-radius: 10px;
    object-fit: cover;
    padding: 0;
    margin: 20px auto 20px auto;
    display: block;
}


.primary-watchlater{
    height:620px;
    width: 360px;
    background-color: rgb(28, 34, 34);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    /* ju: flex-start; */
}
.icon-button{
    color: white;

}
.secondary-watchlater{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    border-radius: 10px;
    margin: 0px;
    padding: 0px;
    align-self: start;
}

@media (max-width:900px){
    .watchlater-body{
        margin-top : 0px;
        flex-direction: column;
    }
   .primary-watchlater{
    flex-direction: column;
    width: 100%;
    border-radius: 0px;
   }
   .image_button{
    flex-direction: row;
   }
   .watch_later_img{
    width: 379px;
    }
    .primary-watchlater{
        height: 416px;
    }
    .secondary-watchlater{
        width: 100%;
        justify-content: left;
        margin-top: 17px;
    }

  }
@media (max-width:450px){
    .watch_later_img{
        width: 300px;
    }

}